.form {
    color: rgb(249, 214, 137);
    text-shadow: 2px 2px 1px black;
}

input, .select, option, .button {
    background-color: white;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.08);
}

