.image {
    border-radius: 15px;
    box-shadow: 4px 4px 4px black;
}

.divContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: rgb(245, 231, 178);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px black;
}

.p{
    width: 400px;
    margin-top: 5px;
}

.text {
    color: white;
    text-shadow: 1px 1px 1px black;
    line-height: 20px;
}

.button {
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.08);
}